<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%t] %-5level %logger{36} - %m%n"/>
        </Console>
        <File name="File" fileName="./logs/coup-client.log" append="false">
            <PatternLayout pattern="%-5p %c{1} - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="debug"/>
        <Logger name="com.neodem" level="DEBUG"/>

        <Root level="ALL">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="File" level="Debug"/>
        </Root>
    </Loggers>
</Configuration>